html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #000 #e5e5e5;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e5e5;
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 999px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Responsive Utilities */
.responsive-title-1 {
  font-size: 2.25rem !important;
}

.responsive-title-2 {
  font-size: 1.75rem !important;
}

.responsive-title-3 {
  font-size: 1.5rem !important;
}

.responsive-title-4 {
  font-size: 1.25rem !important;
}

.responsive-subtitle {
  font-size: 1.1rem !important;
}

.responsive-text {
  font-size: 1rem !important;
}

.px-desktop-8 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.pl-desktop-8 {
  padding-left: 1rem !important;
}

.hero-padding {
  padding-top: 3.5rem !important;
  padding-bottom: 3.5rem !important;
}

.card-overlap {
  margin-top: -3rem !important;
}

@media (min-width: 768px) {
  .responsive-title-1 {
    font-size: 3.5rem !important;
  }

  .responsive-title-2 {
    font-size: 2.5rem !important;
  }

  .responsive-title-3 {
    font-size: 2rem !important;
  }

  .responsive-title-4 {
    font-size: 1.4rem !important;
  }

  .responsive-subtitle {
    font-size: 1.5rem !important;
  }

  .responsive-text {
    font-size: 1.15rem !important;
  }

  .px-desktop-8 {
    padding-left: 8rem !important;
    padding-right: 8rem !important;
  }

  .pl-desktop-8 {
    padding-left: 8rem !important;
  }


  .hero-padding {
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
  }

  .card-overlap {
    margin-top: -8rem !important;
  }
}